body
{
    width: 1024px;
    height: 100%;
    margin: auto;
    background: rgb(173, 173, 173) no-repeat;
}

header
{
    width: 50%;
    margin: auto;
    background: rgb(247, 122, 122);
    
}

#main 
{
    width: 75%;
    margin: auto;
    background: rgb(231, 235, 31);
    align-self: center;
}

footer
{
    width: 100%;
    margin: auto;
    background: rgb(105, 3, 3);
    align-self: center;
}