body 
{
    background-image: url(images/back.jpg);
}
header
{
    background: rgb(247, 122, 122);
}

footer
{
    background: rgb(105, 3, 3);
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
}

.container 
{
    width: 100%;
    max-width: 1024px;
    height: 100px;
    padding: 0 15px;
    margin: 0 auto;
    background:rgb(226, 199, 199);
}

.logo
{
    float: left;
    background-color: aquamarine;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    padding: 10px;

}

nav
{
    float: right;
}

nav ul
{
    margin: 0;
    padding: 0;
    list-style: square;
}

nav li
{
    display: inline-block;
    background-color: burlywood;
}