header
{
    background: grey;
}
footer
{
    background: grey;
}
.container 
{
    width: 100%;
    max-width: 1024px;
    padding: 0 15px;
    margin: 0 auto;
    background:rgb(226, 199, 199);
}
.logo
{
    float: left;
}
.nav
{
    float: right;
}
.nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav li
{
    display: inline-block;
}